@value small, med, large from "../styles/breakpoints.module.css";

.gridContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.5rem;
  grid-auto-flow: row;
}

@media small {
  .gridContainer {
    grid-template-columns: 1fr 1fr;
  }
}

@media med {
  .gridContainer {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media large {
  .gridContainer {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.productTile {
  background-color: rgb(244, 242, 244);
  padding: 1rem;
}

.productTitle {
  font-family: handwritten, hn-display, HelveticaNeue, Helvetica, helvetica,
    sans-serif;
  text-align: center;
}
