.gridContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.5rem ;
  grid-auto-flow: row;
}

@media (min-width: 700px) {
  .gridContainer {
    grid-template-columns: 1fr 1fr ;
  }
}

@media (min-width: 1050px) {
  .gridContainer {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1400px) {
  .gridContainer {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.productTile {
  background-color: rgb(244, 242, 244); 
  padding: 1rem;
}

.productTitle {
  font-family: handwritten, hn-display, HelveticaNeue, Helvetica, helvetica, sans-serif;
  text-align: center;
}